/*font-family: 'Indie Flower', cursive; font-family: 'Mali', cursive; 'Gloria Hallelujah', cursive*/ 

*, *::after, *::before {margin: 0; padding: 0; box-sizing: inherit}

html {font-size: 62.5%;

    // @include respond(phone) {
    //     font-size: 50%;
    // }

    @include respond(tab-land){
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port){
        font-size: 50%; //1rem = 8px
    }

    @include respond(big-desktop){
        font-size: 75%; //1rem = 12px
    }
}

a {color: $color-primary}
a:hover {color: rgb(242, 242, 242)}

body {font-family: 'Indie Flower', cursive; font-weight: 400; /*font-size: 16px;*/ line-height: 1.7; color: #777; box-sizing: border-box}

.fa {font-size: 2rem; color: $color-primary}
.flag {width: 2rem; height: 1.4rem}

.header {height: 100vh; background-image: linear-gradient(to left bottom, rgba($color-secondary-dark, 0.7), rgba($color-secondary-light, 0.7)), url(../img/old/steve.jpg); background-size: cover; background-position: center; position: relative;

    &__my-logo {position: absolute; top: -5rem; left: 4rem;}
    &__logo {height: 20rem;}
    &__screen-text {position: absolute; top: 40%; left: 20%; transform: translate(-5%, -10%)}
}

.icons {color: $color-primary; position: absolute; top: 80%; left: 20%; transform: translate(50%, 50%); text-align: center; font-size: 2rem; font-weight: 400;

    @include respond(tab-port){left: 13%;}
    @include respond(phone){left: -6%;}

    &__margin {margin-top: -8px;}
}

.name {color: $color-primary; text-transform: uppercase; backface-visibility: hidden; text-align: center;

    // @include respond(tab-port){margin-left: 0rem;}

    &--main {display: block; font-size: 5rem; font-weight: 400; animation: $animation-rotate;

        @include respond(phone){font-size: 3.2rem;}
    
    }
    &--sub {display: block; font-size: $default-font-size; font-weight: 700; letter-spacing: .68rem; animation: $animation-right; 

        @include respond(phone){font-size: 1rem; letter-spacing: .43rem;}
    }
}

